<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/app.css">
  <style>
    [ng-cloak] { display: none; }
  </style>
  <base href="/">
</head>
<body ng-cloak ng-app="app" ng-controller="ApplicationCtrl">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Posts</a></li>
          <li><a href="/test">Test</a></li>
          <li ng-if="!currentUser">
            <a ng-bind-template="Register" href="/register"></a>
          </li>
          <li ng-if="!currentUser">
            <a ng-bind-template="Login" href="/login"></a>
          </li>
          <li ng-if="currentUser">
            <a ng-bind-template="Logout" href="#" ng-click="logout()"></a>
          </li>
        </ul>
        <span ng-if="currentUser"
              class="navbar-text navbar-right"
              ng-bind="signedInMsg">
        </span>
      </div>
    </div>
  </nav>
  <div class="container">
    <alert type="{{flash.getMessage().alertType}}"
         ng-show="flash.getMessage()"
         close="flash.closeMessage()">
      <div ng-if="flash.getMessage().title">
        <strong ng-bind="flash.getMessage().title"></strong>
      </div>
      <div ng-if="flash.getMessage().body">
        <span ng-bind="flash.getMessage().body"></span>
      </div>
    </alert>
    <div ng-view></div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.js"></script>
  <script src="/app.js"></script>
</body>
</html>
